{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
    <div id="wrapper" class="row">
        <div id="left-content" class="col-md-9">
            <div class="content">
              <div class="post-header">
                    <h1>{{ .Title }}</h1>
                    <div class="post-meta">
                        <span class="publish-date"> {{ .PublishDate.Format "January 2, 2006" }} </span>
                        <span class="word-count">
                            {{ .WordCount }} words
                        </span>
                        <span class="reading-time">
                            {{ .ReadingTime }} min read
                        </span>
                    </div>
                </div>
                <article class="post-content">
                    {{ .Content }}
                </article>
            </div>
        </div>
        {{ partial "right-sidebar.html" . }}
    </div>
</div>
<script id="dsq-count-scr" src="//http-blog-balajisivaraman-com.disqus.com/count.js" async></script>
{{ partial "footer.html" . }}
