{{ partial "head.html" . }}
{{ partial "header.html" . }}
<div class="container">
    <div id="wrapper" class="row">
        <div id="left-content" class="col-md-9">
            <div class="content">
                <div class="post-header">
                    <h2>{{ .Title }} </h2>
                </div>
                <article class="post-content">
                    <div class="archives">
                      <ul class="listing">
                        {{ range .Pages }}
                        {{ if and (eq .Type "post") (ne .Title "Posts") }} <!-- Hack to filter Posts page -->
                        <li> <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> ({{ .PublishDate.Format "January 2, 2006" }}) </li>
                        {{ end }}
                        {{ end }}
                      </ul>
                    </div>
                </article>
            </div>
        </div>
        {{ partial "right-sidebar.html" . }}
    </div>
</div>
{{ partial "footer.html" . }}
