<!DOCTYPE html prefix="og: http://ogp.me/ns#">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {{ if eq .Type "post" }}
        <title>{{ .Title }} - {{ .Site.Params.author }}</title>
        <meta name="title" content="{{ .Title }} - {{ .Site.Params.author }}">
        {{ else }}
        <title>{{ .Site.Params.author }} - {{ .Site.Params.bio }}</title>
        <meta name="title" content="{{ .Site.Params.author }} - {{ .Site.Params.bio }}">
        {{ end }}
        <meta name="author" content="{{ .Site.Params.author }}">
        {{ if eq .Type "post" }}
        <meta name="description" content="{{ .Description }}">
        <meta property="og:type" content="article">
        {{ else }}
        <meta name="description" content="{{ .Site.Params.description }}">
        <meta property="og:type" content="website">
        {{ end }}
        {{ if eq .Type "post" }}
        <title>{{ .Title }} - {{ .Site.Params.author }}</title>
        <meta property="og:title" content="{{ .Title }} - {{ .Site.Params.author }}">
        {{ else }}
        <title>{{ .Site.Params.author }} - {{ .Site.Params.bio }}</title>
        <meta property="og:title" content="{{ .Site.Params.author }} - {{ .Site.Params.bio }}">
        {{ end }}
        {{ if eq .Type "post" }}
        <meta property="og:description" content="{{ .Description }}">
        {{ else }}
        <meta property="og:description" content="{{ .Site.Params.description }}">
        {{ end }}
        <meta property="og:url" content="{{ .Permalink }}">
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- External Fonts from CDN -->
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <!-- Site CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
        {{ $styles := resources.Get "scss/main.scss" | resources.ToCSS $options | resources.Fingerprint }}

        <link rel="stylesheet" href="{{ $styles.Permalink | relURL }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
        <!-- Site JS -->
        <script src="/scripts/script.js"></script>
    </head>
    <body>
