<div id="right-content" class="col-md-3">
  <div class="sidebar">
    <div class="sticky">
      <div class="sidebar-item" id="categories">
        <h4>Table of Contents</h4>
        {{ .TableOfContents }}
      </div>
      <div class="sidebar-item" id="social-icons">
        <h4>Follow Me</h4>
        {{ partial "social-icons.html" . }}
      </div>
      <div class="sidebar-item" id="categories">
        <h4>Categories</h4>
        <ul style="padding: 0; margin: 1em 0;">
          {{ range $.Site.Taxonomies.categories.ByCount }}
          <li style="display: inline-block"><a class="box category" href="/categories/{{ .Term | urlize  }}">{{ .Term | title }} ({{ .Count }})</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
