<div id="right-content" class="col-md-3">
  <div class="sidebar">
    <div class="sticky">
      {{ if eq .Type "post" }}
      {{ if eq .Params.toc true }}
      <div class="sidebar-item" id="categories">
        <h4>Table of Contents</h4>
        {{ .TableOfContents }}
      </div>
      {{ end }}
      {{ if eq .Params.share true }}
      <div class="sidebar-item" id="social-icons">
        <h4>Share This Article</h4>
        {{ partial "socialshare.html" . }}
      </div>
      {{ end }}
      {{ if ne .Type "post" }}
      <div class="sidebar-item" id="categories">
        <h4>Categories</h4>
        <ul>
          {{ range .Site.Taxonomies.categories.Alphabetical }}
          <li><a href="{{ .Page.Permalink | relURL }}">{{ .Page.Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="sidebar-item" id="tags">
        <h4>Tags</h4>
        <ul>
          {{ range .Site.Taxonomies.tags.Alphabetical }}
          <li><a href="{{ .Page.Permalink | relURL }}">{{ .Page.Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ if eq .Type "post" }}
      <div class="sidebar-item" id="categories">
        <h4>Categorised Under</h4>
        <ul>
          {{ range $value := .Params.categories }}
          <li><a href="/categories/{{ $value | urlize }}"> {{ $value }} </a></li>
          {{ end }}
        </ul>
      </div>
      <div class="sidebar-item" id="tags">
        <h4>Tagged With</h4>
        <ul>
          {{ range $value := .Params.tags }}
          <li><a href="/tags/{{ $value | urlize }}"> {{ $value }} </a></li>
          {{ end }}
        </ul>
      </div>
      <div class="sidebar-item" id="home">
        <h4></h4>
          Back to <a href="/">home</a>.
      </div>
      {{ end }}
    </div>
  </div>
</div>
